mods/
saves/
dumps/
logs/
journeymap/
resourcepacks/
usernamecache.json
usercache.json
pixelmon/spawning/default/
blocks.txt
crafttweaker.log
deaddrops.txt
dropt.log
flowers.txt
fruittreeleaves.txt
gems_armor.txt
items.txt
liquids.log
# minecraftinstance.json
# options.txt
ores.txt
# pixel.dat
# pixelc.dat
pixelmonhealing.txt
recipes.txt
trees.txt